#fullindex{
    position:absolute;
    left:0;
    width:100%;
    margin-top:10vh;
}
.fullindex{
    justify-self:flex-end;
}
.indexbottom{
    display: inline-flex;
    flex-direction: column;
    position:fixed;
    bottom:10px;
    z-index:100;
    font-size:1.8rem;
    letter-spacing:-.2px;
  }
.listing{
    position:relative;
    padding-left:10px;
    padding-right:10px;
    width:100%;
    height:auto;
    margin-top:10px;
    display:grid;
    grid-template-columns: 35vw 35vw 10vw 20vw;
    grid-template-rows: auto auto;
    align-items:center;
    border-bottom:1px solid black;
    padding-bottom:8px;
    cursor:pointer;
    transition:.325s;
}
.title, .description, .year, .thumbnails{
    grid-row:1;
}
.title, .description{
    font-family: "Neue Machina";
    padding-right:20px;
    line-height:1.2;
    display:inline;
}
.year{
    font-family: "Saol";
}
.thumbnails{
    display:flex;
    justify-content:flex-end;
    padding-right:16px;
}
.thumbnails img{
    height:26px;
    padding-right:6px;
    display:inline-block;
}
.more{
    font-family: "Neue Machina";
    margin-top:60px;
    padding-left:10px;
    line-height:1.2;
    margin-bottom:10px;
}
.extender{
    position:relative;
    display:inline-grid;
    grid-template-columns: 35vw 65vw;
    grid-template-rows: auto auto;
    height:auto;
    grid-row:2;
    grid-column:1/span 4;
    margin-right:20px;
    padding-top:20px;
}
.extender img{
    position:relative;
    display:inline-block;
    margin-right:8px;
    max-height: 280px;
    max-width:100%;
}
.images{
    grid-column:2;
    display:flex;
    justify-content:flex-start;
    position:relative;
    max-width:100%;
    margin-right:10px;
}
.words{
    font-family: 'Sans Regular';
    position:relative;
    max-width:90%;
    line-height:1.25;
}
/*-----------------------------------meeeeeeeedia queeeeeeeeeeeeeerieesssssssssss-------------------*/
@media (max-width: 1100px){
    .listing{
        grid-template-columns: 35vw 50vw 15vw;
    }
    .thumbnails img{
        display:none;
    }
    .thumbnails img:first-of-type{
        display:block;
    }
    .year{
        display:none;
    }
}
@media (max-width: 800px){
    .listing{
        font-size:13px;
        margin-top:8px;
        margin-bottom:8px;
        padding-bottom:8px;
    }
    .more{
        font-size:13px;
    }

}
@media (max-width: 675px){
    .listing{
        font-size:13px;
        margin-top:12px;
        margin-bottom:8px;
        padding-bottom:16px;
    }
    .title, .description{
        vertical-align:top;
        padding-right:30px;
    }

}
