@font-face{
  font-family: "Suisse Intl";
  src:url('fonts/SuisseIntl-Regular.otf');
}
@font-face{
  font-family: "Suisse Intl Italic";
  src:url('fonts/SuisseIntl-RegularItalic.otf');
}
@font-face{
  font-family: "Suisse Intl Medium";
  src:url('fonts/SuisseIntl-Medium.otf');
}

@font-face{
  font-family: "Reconna";
  src:url('fonts/ReconnaSerif.otf');
}


::selection{
  background-color: rgba(0,0,0,.1);
}
body {
	font-family: 'Suisse Intl';
	font-size: 13px;
	line-height: 1.4;
	color: #0a0a0a;
  overflow-x: hidden;
  margin:0;
  padding-top:11px;
  padding:11px;
}

.top, .bottom{
  z-index:100;
  padding-bottom:11px;
  font-size:1.1rem;

/*this adds a nice transition when the text colors change to accommodate the modal overlay on zoom.*/
transition-property: background-color, box-shadow;
transition-duration: 0.5s;
-webkit-transition: background-color 0.5s;
-ms-transition: background-color 0.5s;
transition: background-color 0.5s;
}

h3{
  font-size:1.1rem;
  line-height:1.25;
  padding:0px;
  margin:0px;
  font-weight:400;
}

.name, .flip{ 
  /*----'flip' styles links with the same specs as h3-----*/
  cursor:pointer;
  font-size:1.1rem;
  text-align:left;
  justify-content:flex-start;
}
a{
  color:#0a0a0a;
  text-decoration: none;
  display:inline;
}
a:hover{
  opacity:.5;
}

/*-------------------------------------about/CV----------------------------------------*/
#aboutContainer{
  height:auto;
  max-width:100%;
}
#about{
 max-width: 100%;
 display: grid;
 grid-template-columns: 25% 18.75% 18.75% 18.75% 18.75%;
 border-bottom:.6px solid rgba(0,0,0,.5);
 padding-bottom:10px;
}

#about p{
  padding:0;
  margin:0;
}

#about .p{
  grid-row:1;
  grid-column: 2/span 4;
  padding-right: 36px; /*was 14px*/
     /*padding-bottom:14px;*/
  max-width: 950px;
}
.links{
  display:flex;
  flex-direction:row;
}

.links a{
  padding-right:24px;
}
#about .contact #opencv{
  align-self:start;
  vertical-align:bottom;
  cursor: pointer;
}

a, .flip, .name, .info, #opencv{
  transition: opacity .2s linear;
}
a:hover, #opencv:hover{
  opacity:.5;
}
.cv{
  max-width:100%;
  grid-column-start:1;
  grid-column-end:6;
  padding-top:10px;
  padding-bottom:0px;
  display: flex;
  flex-direction:row;
  grid-column: 2/span 5;
  grid-template-columns: 50% 50%;
}
/*.press, .clients{
  columns:2;
  ----display flex so the cols don't stretch across the whole grid box-----
  display:flex;
  flex-direction:row;
  align-items:flex-start;
}*/
/*.cv-item{
  padding-right: 42px;
}*/

/*---------------------------------------------index-------------------------------*/
#fullindex{
  position:relative;
  width:100%;
}
.listing{
  padding-top:10px;
  padding-bottom:10px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 25% 37.5% 37.5%;
  border-bottom:.6px solid rgba(0,0,0,.5);
  cursor:pointer;
}

.info{
  padding-right:10px;
  grid-column: 1;
}

.images{
  max-width:100%;
  grid-column: 2/span 3;
  display:flex;
  flex-direction:row;
  align-items:flex-start;
  justify-content:flex-start;
  transition: opacity .2s;
  margin-right:10px;
}
.images img{
  width:50%;
  height:auto;
  padding-right:10px;
}

.more{
  padding-top:10px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.more p{
  margin:0px;
}

/*-----------fade animation on lazyload--------------*/
.fade {
  animation-name: fade;
  animation-duration: 1.8s;
}

img {
  animation-name: fade;
  animation-duration: 1.8s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*---------------------------------meeeeeeeeeedia queeeeeeeeriiiiiiiiiiiiesssssss-----------*/


@media (max-width: 750px){
 
  #about{
    grid-template-rows: auto auto auto;
    padding-right:15px;
    grid-template-columns: 50% 50%;
  }

  #about .p{
    padding-right: 6px;
    padding-bottom:8px;
    grid-column:1/span 2;
    padding-right:12px;
    grid-row:1;
    margin-bottom:8px;
  }

.indexname{
  display:none;
}
.twocols{
  grid-column: 1/span 2;
}
.clients{
  display:none;
}
/*-----------put labels below their pictures on mobile-------*/
.info{
  grid-column:1/span 2;
  grid-row:2;
  padding-top:10px;
}

.images img:nth-of-type(2){
  display:none;
}
.images{
  margin-right:0;
  grid-column:1/span 3;
}

.images img{
  width:100%;
}

.more span:nth-of-type(2){
  display:none;
}

}

.querytown{
  z-index:1000;
  width:300px;
  font-size:1.1rem;
  color:white;
  margin-top:10vh;
  margin-left:50px;
  position:fixed;
  text-align:center;
  background-color:red;
}
/*----- CSS for the blur-in lazy load effect */

.lazyload {
  filter: blur(20px);   /* Initial blur amount */
  transition: filter 0.3s ease-in-out; /* Transition effect for smooth blur-in */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.lazyload.loaded {
  filter: blur(0);/* Remove the blur effect when image is loaded */
}
