
@font-face{
  font-family: 'Sans Medium';
  src: url("fonts/SansMedium.otf");
}
@font-face{
  font-family:  'Sans Medium Italic';
  src: url('fonts/SansMediumItalic.otf');
}
@font-face{
  font-family: 'Sans Regular';
  src: url('fonts/SansRegular.otf');
}
@font-face{
  font-family: 'Saol Italic';
  src: url("fonts/SaolDisplay-RegularItalic.otf");
}
@font-face{
  font-family: 'Saol';
  src: url('fonts/SaolDisplay-Regular.otf');
}
@font-face{
  font-family: 'Reconna';
  src: url('fonts/ReconnaSerif.otf');
}
@font-face{
  font-family: 'Neue Machina Medium';
  src: url('fonts/NeueMachina-Medium.otf');
}
@font-face{
  font-family: 'Neue Machina';
  src: url('fonts/NeueMachina-Regular.otf')
}

html{
  min-height:100vh;
  background-color: #dddddd;
}
::selection{
  background-color: yellow;
}

body {
  margin:0;
  min-height:100vh;
  position:relative;
	font-family: 'Sans Medium';
	font-size: 16px;
	line-height: 1;
	color: black;
  overflow-x:hidden;
}
.dot{
  font-size: 16px;
  font-family: 'Saol Italic';
}
.top{
  position:fixed;
  z-index:100;
  display:grid;
  grid-template-columns: 35% 38% 27%;
  flex-direction: row;
  width: 99vw;
  padding-top:6px;
  flex-wrap:wrap;
  right:10px;
  top:0;
  background-color:#dddddd;
  -webkit-box-shadow: 0px -1px 11px 12px rgba(221,221,221,1);
-moz-box-shadow: 0px -1px 11px 12px rgba(221,221,221,1);
box-shadow: 0px -1px 11px 12px rgba(221,221,221,1);

transition-property: background-color, box-shadow;
transition-duration: 0.5s, .5s;
-webkit-transition: background-color 0.5s linear;
-ms-transition: background-color 0.5s linear;
transition: background-color 0.5s linear;
}
.top p, .top a, .bottom a, #projfooter{
  color: black;
  font-family: 'Sans Medium';
  letter-spacing:-.2px;
  font-size: 1.8rem;
  margin-right: 1vw;
  text-align: left;
  cursor: pointer;
  padding-left:10px;
  padding-right:10px;
}
a{
  color:black;
}
.about{
  justify-self:flex-start;
}
.index{
  justify-self:flex-end;
}
.bottom{
  display: inline-flex;
  flex-direction: column;
  position:fixed;
  bottom:0px;
  padding-bottom:10px;
  z-index:100;
}
a{
  text-decoration: none;
  cursor: pointer;
}
.flip{
  transition: .2s;
  text-align:left;
  justify-content:flex-start;
  padding-left:10px;
  padding-right:10px;
}
.top .flip:hover, .flip:hover, .top .flip:active{
  transform: rotateY(180deg);
}

#about{
 position: absolute;
 font-size: 1.9em;;
 line-height:1.15;
 font-family: 'Times New Roman';
 left: 12px;
 right:10px;
 max-width: 100vw;
 max-height:100vh;
 bottom:160px;
 top:0px;
 margin-top:70px;
 display: grid;
 grid-template-columns: 35vw 60vw 1fr;
 grid-template-rows: auto;
 justify-content:space-evenly;
}
#about p{
  grid-row:1;
  grid-column:2;
  max-width:60vw;
  align-self:flex-start;
  justify-self:flex-start;
  padding:0;
  margin:0;
}
#about img{
  grid-column:1;
  grid-row:1;
  max-width:60%;
  margin:0;
  padding:0;
  margin-right:20px;
  margin-top:2px;
  justify-self:flex-start
}

#label{
  transform-origin: 50% 50%;
  position: relative;
  height: auto;
  color: black;
  font-size: 1em;
  font-family: "Neue Machina";
  margin-top: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.labelita{
  font-family: "Neue Machina";
  line-height:1;
  padding-right:10px;
}
.labelreg{
  font-family: "Saol";
  padding-right:10px;
}
.pic{
  position:absolute;
  transition: transform .2s;
  max-width:20vw;
  cursor:pointer;
  transform:rotateY(90deg);
}
.pic:hover{
  cursor:move;
}
.pic img{
  position:relative;
  transition: .2s;
  width:100%;
}
#homepage{
  width:100%;
  height:100vh;
  margin-top:3vh;
  position:relative;
  top:10px;
  right:10px;
  left:10px;
}
/*----------------------------------drag shit--------------------------------*/
.dragTitle{
  font-size: 1.8rem;
  position:fixed;
  bottom:10px;
  right:10px;
  cursor:pointer;
  text-align:center;
  transition:.35s;
  padding:2px;
  border-radius:10px;
}

/*----------------------------------scrollbarrrrrr--------------------------------*/
::-webkit-scrollbar {
  border-radius:40px;
  background-color:transparent;
  width:6px;
  margin-right:3px;
  border:1.4px solid black;
  display:none;
}
::-webkit-scrollbar-thumb {
  height:10px;
  width:6px;
  opacity:1;
  background-color:black;
  border-radius:40px;
  margin-right:3px;
  display:none;
}
::-webkit-scrollbar-track {
width:8px;
border-radius:40px;
margin-right:3px;
display:none;
}


/*---------------------------------meeeeeeeeeedia queeeeeeeeriiiiiiiiiiiiesssssss-----------*/

@media (max-width: 1100px) {
  #about{
    font-size:1.7em;
  }
}

@media (max-width: 1000px) {
  #about{
    font-size:1.5em;
  }
}

@media (max-width: 900px) { 
  #about{
    position:relative;
    grid-template-columns: 30vw 58vw 2vw;
  }
  #about p{
    grid-column:2;
    max-width:100%;
    margin:0;
    left:0;
  }
} 

@media (max-width: 800px) { 
  #about p{
    width: 90vw;
    font-size:.75em;
  }
  #about{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-items:flex-start;
    margin-top:100px;
    top:0;
    width:98vw;
    padding-bottom:160px;
    max-height:300%;
  }
  #about p{
    margin-bottom:15px;
  }
  #about img{
    max-width:99%;
    padding-right:10px;
  }
}
  
  @media (max-width: 700px) { 
  #homepage{
    width:97%;
    position:relative;
    top:0;
    margin-top:4.5vh;
    right:10px;
    display:flex;
    flex-direction:column;
    overflow-x:hidden;
  }
  .pic{
    position:relative;
    max-width:96%;
    right:10px;
    cursor:pointer;
    left:0px;
    right:10px;
    min-width:97vw;
  }
  .discoveryourair{
    padding-bottom:160px;
  }
  .pic #label{
    font-size:18px;
    margin-top:12px;
    margin-bottom:16px;
    margin-right:16px;
  }
  .pic:hover{
    cursor:pointer;
  }
}

@media (max-width: 500px) { 
  .top .flip:hover, .flip:hover, .top .flip:active{
    transform: rotateY(0deg);
  }
  } 





.querytown{
  z-index:1000;
  width:300px;
  font-size:2em;
  color:white;
  margin-top:10vh;
  margin-left:50px;
  position:fixed;
  text-align:center;
  background-color:red;
}